*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: "Poppins", sans-serif;
}
.custom-container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.btn {
    background-color: rgb(187, 136, 64);
    border-color: rgb(187, 136, 64);
    color: white;
    border: none;
    border-width: 1px;
    border-radius: 10000px;
    font-size: 18px;
    font-weight: bold;
    font-weight: 700;
    padding: 14px 24px;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    position: relative;
    min-height: 28px;
    max-width: 420px;
    width: 100%;
    display:inline-block;   
    margin:0 auto;
    cursor: pointer;
  }
.btn:hover {
    opacity: 0.9; 
    -webkit-transition-duration: 0.2s; 
         -o-transition-duration: 0.2s; 
            transition-duration: 0.2s;
    background-color:rgb(136,99,47);
    border-color:rgb(136,99,47);
}
/* banner Area  */
.banner-area{
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.67)), to(rgba(0, 0, 0, 0.67))), url(https://i.postimg.cc/pVBJsgHW/better-foodie-background.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url(https://i.postimg.cc/pVBJsgHW/better-foodie-background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url(https://i.postimg.cc/pVBJsgHW/better-foodie-background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 130px 0;
}
.foodie-logo {
    display: block;
    width: 100%;
    max-width: 100px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}
.banner-content{
    text-align: center;
}
.banner-content h1{
    font-size: 40px;
    font-family: Playfair Display, Poppins, Lobster, sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
    line-height: 45px;
}
.banner-content p {
    font-size: 18px;
    font-family: Poppins, Lobster, sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin: auto;
    text-align: center;
    max-width: 790px;
}
.banner-btn{
    margin-top: 40px;
}
/* About Area  */
.about-area{
    padding-top: 80px;
    padding-bottom: 55px;
    border-bottom: 2px solid rgb(223, 223, 223);
}
.about-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.about-img{}
.about-img img{
    width: 270px;
}
.about-text{}
.about-text span{
    font-family: "Lobster", sans-serif;
    color: rgb(187, 136, 64);
    font-size: 18px;
    font-weight: 400;
    line-height: 20.25px;
}
.about-text h2{
    font-family: "Playfair Display", sans-serif;
    font-size: 28px;
    color: rgb(75, 75, 75);
    font-weight: 700;
    line-height: 31.5px;
}
.about-text p{
    color: rgb(107, 107, 107);
    font-size: 18px;
    font-weight: 400;
    line-height: 31.5px;
}

.food-plate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-width: 271px;
    padding-top: 80px;
  }

.sec-2-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 27.55px;
}

.sec-2-inner-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sec-2-heading1 {
    font-family: "Lobster", sans-serif;
    color: rgb(187, 136, 64);
    padding-top: 51px;
    padding-left: 100px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.25px;
  }

.sec-2-heading2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 28px;
    color: rgb(75, 75, 75);
    font-weight: 700;
    line-height: 31.5px;
    padding-left: 100px;
}

.sec-2-text1 {
    color: rgb(107, 107, 107);
    font-size: 18px;
    font-weight: 400;
    line-height: 31.5px;
    padding-left: 100px;
    width: 90%;
}

.sec-3-container{
    padding-top: 0px;
    padding-bottom: 86.85px;
}

.sec-3-inner-container{
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.splatter-img {
    display: block;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
  }

.sec-3-heading1 {
    display: block;
    font-family: "Lobster", sans-serif;
    color: rgb(187, 136, 64);
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.25px;
    text-align: center;
  }

.sec-3-heading2 {
    display: block;
    font-family: "Playfair Display", sans-serif;
    font-size: 28px;
    color: rgb(75, 75, 75);
    font-weight: 700;
    line-height: 31.5px;
    text-align: center;
}

.card_wrap h4 {
    display: block;
    color: rgb(107, 107, 107);
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 31.5px;
    margin: 0;
  }

.card_wrap p {
    display: block;
    color: rgb(107, 107, 107);
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 31.5px;
    margin: 0;
}
  
.sec-4-container{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0 90px;
}

.sec-4-inner-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.background2-img{
    background-color:rgba(255,255,255,0);
    border-color:rgba(255,255,255,0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.67)), to(rgba(0, 0, 0, 0.67))), url(https://i.postimg.cc/ncRYJBrN/better-foodie-background2.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url(https://i.postimg.cc/ncRYJBrN/better-foodie-background2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url(https://i.postimg.cc/ncRYJBrN/better-foodie-background2.jpg);    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.sec-4-heading1 {
    display: block;
    font-family: "Lobster", sans-serif;
    color: rgb(187, 136, 64);
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.25px;
    text-align: center;
  }

.sec-4-heading2 {
    display: block;
    font-family: "Playfair Display", sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 25px;
    font-weight: 700;
    line-height: 31.5px;
    text-align: center;
}

.inner-column1 {
    background-color: white;
    border-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    height: 100%;
}

.stars-img {
    display: block;
    max-width: 135px;
    line-height: 24px;
}

.inner-column1-text1 {
    display: block;
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
    color: rgb(107, 107, 107);
    padding-top: 25px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;
}

.inner-column1-text2 {
    display: block;
    font-size: 16px;
    color: rgb(107, 107, 107);
    padding-top: 25px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.sec-4-btn {
    background-color: rgb(187, 136, 64);
    border-color: rgb(187, 136, 64);
    color: white;
    border: none;
    border-width: 1px;
    border-radius: 10000px;
    font-size: 18px;
    font-weight: bold;
    font-weight: 700;
    padding: 14px 24px;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    position: relative;
    min-height: 28px;
    max-width: 420px;
    width: 100%;
    display:block;   
    margin:0 auto;
    margin-top: 70px;
    cursor: pointer;
  }
  
.sec-4-btn:hover {
    opacity: 0.9; 
    -webkit-transition-duration: 0.2s; 
         -o-transition-duration: 0.2s; 
            transition-duration: 0.2s;
    background-color:rgb(136,99,47);
    border-color:rgb(136,99,47);
  }

.sec-5-container {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.footer{
    background-color: white;
    width: 100%;
}

.foodie2-logo {
    display: block;
    width: 100%;
    max-width: 75px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 80px;
}

.footer-text {
    display: block;
    font-size: 14px;
    color: rgb(107, 107, 107);
    font-weight: 400;
    line-height: 19.25px;
    margin-top: -55px;
    text-align: center;  
}
.footer-text a{
    color: inherit;
    text-decoration: none;
}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.row>div{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
}
.col-6{
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}
.col-4{
    max-width: 33.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
}

/* For in between Media Queries - Adjust based on Developer tools*/
@media (min-width: 543px) and (max-width: 760px){
    .custom-container{
        max-width: 580px;
    }
    .sec-3-inner-container {
        padding-left: 20px;
    }
}

/* Desktops, Large screens (if smaller than 1200px and between 992px then run code)*/
@media (min-width: 992px) and (max-width: 1199.98px){
    .custom-container{
        max-width: 960px;
    }
}

/* Tablets (if smaller than 992px and between 768px then run code)*/
@media (min-width: 768px) and (max-width: 991.98px){
    .custom-container{
        max-width: 740px;
    }
}

/* Desktops, Large screens (if smaller than 992px then run code)*/
@media (max-width: 991.98px){
    .inner-column1 {
        padding: 30px;
    }
}

/* Mobile (if smaller than 576px then run code)*/
@media (max-width: 575.98px){
    .col-6,
    .col-4{
        max-width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }
    .about-row{
        display: block;
        text-align: center;
    }
    .card_wrap{
        text-align: center;
    }
    .banner-area {
        padding: 70px 0;
    }
    .sec-4-btn {
        margin-top: 40px;
    }
}